<section class="col-lg-8 col-md-8 col-12" id="Edu">
<div class="card p-3">
    <!-- head Sec title -->
    <div class="card-header bg-transparent d-flex justify-content-between align-items-center">            <h1 class="fs-3 fw-bold text-prof">Qualifications</h1>
        <a  role="button"
        data-bs-toggle="modal"
        data-bs-target="#add-qual">
        <!-- <i class="fa fa-plus fw-bold fs-5 text-prof"></i> -->
        <i class="fa fa-plus fw-bold fs-5 text-prof"></i>
    </a>
    <!-- <i class="fa fa-plus fw-bold fs-5 text-prof"></i> -->
    </div>
    <!-- Education Info -->
    <div class="card-body">
        <!--  Qualification  1-->
        <div class="col-12 mb-5">
            <div class="shadow-sm p-3">
            <a href="#">
                <h4>
                <b>Engineering</b>
                <span class="fs-5">Taiz univercity</span>
                </h4>
            </a>

            <a href="#" class="text-black-50 fs-6 d-flex flex-column">
                <h6 class="text-black">Education</h6>
                <span>october 2021</span>
            </a>
            </div>
        </div>
        <!-- Qualification 2 -->
        <div class="col-12 mb-5">
            <div class="shadow-sm p-3">
            <a href="#">
                <h4>
                <b>Front end</b>
                <span class="fs-5">alzeroSchool</span>
                </h4>
            </a>

            <a href="#" class="text-black-50 fs-6 d-flex flex-column">
                <h6 class="text-black">Traning</h6>
                <span>July 2018</span>
            </a>
            </div>
        </div>

        <!-- Qualification 3 -->
        <div class="col-12 mb-5">
            <div class="shadow-sm p-3">
            <a href="#">
                <h4>
                <b>back end</b>
                <span class="fs-5">alzeroSchool</span>
                </h4>
            </a>

            <a href="#" class="text-black-50 fs-6 d-flex flex-column">
                <h6 class="text-black">Traning</h6>
                <span>July 2018</span>
            </a>
            </div>
        </div>

    </div>
</div>
</section>