<section class="col-lg-8 col-md-8 col-12" id="expe">
<div class="card p-3">
    <!-- head Sec title -->
    <div  class="card-header bg-transparent d-flex justify-content-between align-items-center">
        <h3 class="fw-bold text-prof">Experience</h3>
        <a  role="button"
            data-bs-toggle="modal"
            data-bs-target="#add-exper">
            <i class="fa fa-plus fw-bold fs-5 text-prof"></i>
        </a>
    </div>
    <!-- Experience Info -->
    <div class="card-body">
        <!--  Experience  1-->
        <div class="col-12 mb-5">
            <div class="shadow-sm p-3">
            <a href="#">
                <h4>
                <b>Engineering</b>
                <span class="fs-5">Taiz univercity</span>
                </h4>
            </a>

            <a href="#" class="text-black-50 fs-6 d-flex flex-column">
                <h6 class="text-black">Education</h6>
                <span>october 2021</span>
            </a>
            </div>
        </div>
    
        <!-- Experience 2 -->
        <div class="col-12 mb-5">
            <div class="shadow-sm p-3">
            <a href="#">
                <h4>
                <b>Front end</b>
                <span class="fs-5">alzeroSchool</span>
                </h4>
            </a>

            <a href="#" class="text-black-50 fs-6 d-flex flex-column">
                <h6 class="text-black">Traning</h6>
                <span>July 2018</span>
            </a>
            </div>
        </div>

        <!-- Experience 3 -->
        <div class="col-12 mb-5">
            <div class="shadow-sm p-3">
            <a href="#">
                <h4>
                <b>back end</b>
                <span class="fs-5">alzeroSchool</span>
                </h4>
            </a>

            <a href="#" class="text-black-50 fs-6 d-flex flex-column">
                <h6 class="text-black">Traning</h6>
                <span>July 2018</span>
            </a>
            </div>
        </div>
    </div>
</div>
</section>