<section class="col-lg-8 col-md-8 col-12" id="hom">
<div class="card shadow p-3">
    <!-- Head Sec Title  -->
    <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
        <h3 class="fw-bold text-prof">About</h3>
        <a role="button" data-bs-toggle="modal"data-bs-target="#edit-home"
                class=" border border-primary rounded d-flex justify-content-center align-items-lg-center rounded-circle p-2">
            <i class="fa fa-pencil-square-o"></i>    
        </a>
    </a>
    </div>
    
    <!-- Personal Info Rows  -->
    <div class="card-body">

        <!-- Hello World  -->
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">Hello, My Name Is</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                Hadeel Jameel
                
            </div>
        </div>
        <hr>

        <!-- Job  -->
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">I'm a </h6>
            </div>
            <div class="col-sm-9 text-secondary">
                Full Stack Web Developer
            </div>
        </div>
        <hr>
        <!-- Summary  -->
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">I'm a </h6>
            </div>
            <div class="col-sm-9 text-secondary">
               Summery Lorem ipsum dolor sit amet, consectetur adipisicing
                 elit. Modi, impedit magni? Exercitationem hic nihil 
                 esse, illo dolorum voluptates neque qui.
            </div>
        </div>
        <hr>
        
        <!-- Img  -->
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">Avatar</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                image.png
            </div>
        </div>
        <hr>

        <!-- CV  -->
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">CV</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                hadeelCV.pdf
            </div>
        </div>
        <hr>
        <!--  -->
         <!-- edit Home  info -->
    <div class="modal fade" id="edit-home"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
          <div class="modal-header">
            <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">
              Edit About Section
            </h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
              aria-label="Close" ></button>
          </div>
          <div class="modal-body">
            <form class="row g-3"method="POST" action="about_edit"  enctype="multipart/form-data">        
                <input type="hidden" name="bookId" value="">
                <div class="col-6"> 
                  <!--Hello name -->
                    <div class="input-group">
                      <input type="text" class="form-control"  placeholder="Hello Name" aria-label="fName" aria-describedby="addon-wrapping"
                        name="hname" value=""required>
                    </div>
                  </div>               

                  <!-- Job Title -->
                  <div class="col-6">
                  <div class="input-group">
                    <input type="text"  class="form-control l" placeholder="Job Name" aria-describedby="addon-wrapping"
                    required  name="job" value=""/>
                  </div>
                  </div>

                  <!-- summary -->
                  <div class="col-12">
                  <div class="input-group">
                    <input type="text"  class="form-control"  placeholder="summary"   aria-label="summary" aria-describedby="addon-wrapping"
                    required name="Summery" value="">  
                  </div>
                  </div>

                  <!-- img  -->
                  <div class="col-12">
                  <div class="input-group">
                    <input type="file" class="form-control l"  placeholder="choose img File" aria-label="img"  aria-describedby="addon-wrapping"
                    required value="" />
                  </div>
                  </div>

                  <!-- CV  -->
                  <div class="col-12">
                  <div class="input-group">
                    <input type="file" class="form-control l"  placeholder="choose Cv File" aria-label="cv"  aria-describedby="addon-wrapping"
                    required value="" />
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class=" col-12 btn bg-primary text-white">Save</button>
                  </div> 
            </form>
          </div>
        </div>
      </div>
    </div>
      
        

    </div>
</div>
</section>