<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/boxicons.min.css" rel="stylesheet">
    <!-- <link href="/css/custom.css" rel="stylesheet"> -->
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

      a{
        text-decoration: none;
      }
      .text-secondary{
        color: rgb(121, 126, 197);
      }
      .text-prof{
          color: rgb(110, 115, 192);
      }
      :root {
        --bg-black-900: #f2f2fc;
        --bg-black-100: #fdf9ff;
        --bg-black-50: #ead9f1;
        --text-black-900: #302e4d;
        --text-black-700: #504e70;
        --trash-color: #504e70;
        --skin-color: #422275;
        --header: var(--bg-black-50):
        
    }

    * {
        margin: 0;
        padding: 0;
        outline: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family: Raleway, sans-serif;
    }

    html {
        font-size: 80.5%;
        overflow-x: hidden;
        scroll-padding-top: 9rem;
        scroll-behavior: smooth;
    }

    html::-webkit-scrollbar {
        width: 0.7rem;
    }

    html::-webkit-scrollbar-track {
        background: transparent;
    }

    html::-webkit-scrollbar-thumb {
        background: var(--skin-color);
        border-radius: 5rem;
    }

    body {
        line-height: 1.5;
        font-size: 16px;
        font-family: "Poppins"sans-serif;
    }
    h3,h4,b{
    color: var(--skin-color);
    }

    </style>
</head>