<div class="col-lg-4 col-md-4 col-12 mb-3">
    <div class="card shadow p-3 pt-0 bg-opacity-0">

        <!-- user avatar -->
        <div class="col-12 d-flex justify-content-center align-items-center p-4 position-relative">
            <img src="/img/nizuoo.jpg"
                class="user-avatar img-fluid rounded-circle"
                alt="user avatar"style="width: 70%;"/>  
            <a role="button" data-bs-toggle="modal"data-bs-target="#avatar-edit-model"
                    class="position-absolute bg-white border border-primary rounded d-flex justify-content-center align-items-lg-center rounded-circle" 
                    style="bottom: 10%;left: 35%; width: 30px;height: 30px;">
            <i class="fa fa-pencil-square-o"></i>    
        
            </a>
        </div>

        <!-- Avatar Info -->
        <div class="text-center">
            <a class="text-prof fs-5 fw-bold" href="/portofront">Hadeel Jameel</a>
            <p>Full Stack Developer</p>
        </div>

        <!-- dashboard nav -->
        <nav class="card px-3 py-4 mt-3 d-flex gap-3">

            <!-- Home -->
            <a href="#" id="home"
               class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-home pe-2"></i>
                <span class="fs-6 fw-bold">About Me</span>
            </a>
            <!-- info -->
            <a href="#" id="personal"
               class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-user pe-2"></i>
                <span class="fs-6 fw-bold">Personal Info</span>
            </a>

            <!-- skills -->
            <a href="#" id="skills"
                class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-bar-chart-o pe-2"></i>
                <span class="fs-6 fw-bold">Skills</span>
            </a>

            <!-- Qualifications -->
            <a href="#" id="Education"
                class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-about pe-2"></i>
                <span class="fs-6 fw-bold">Education</span>
            </a>

            <!-- experience -->
            <a href="#" id="experience"
                class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-object-group pe-2"></i>
                <span class="fs-6 fw-bold">Experience</span>
            </a>
             
            <!-- Services -->
            <a href="#" id="Service"
                class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-list pe-2"></i>
                <span class="fs-6 fw-bold">Services</span>
            </a>

            <!-- Pre-Works -->
            <a href="#" id="works"
                class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-briefcase pe-2"></i>
                <span class="fs-6 fw-bold">Portfolio</span>
            </a>

            <!-- Social -->
            <a href="#" id="Sociall"
                class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-google-plus-official pe-2"></i>
                <span class="fs-6 fw-bold">SocialMedia</span>
            </a>

        </nav>
    </div>
</div>