<div class="col-lg-4 col-md-4 col-12 mb-3">
    <div class="card shadow p-3 pt-0 bg-opacity-0">

        <!-- user avatar -->
        <div class="col-12 d-flex justify-content-center align-items-center p-4 position-relative">
            <img src="/img/nizuoo.jpg"
                class="user-avatar img-fluid rounded-circle"
                alt="user avatar"style="width: 70%;"/>  
            <a role="button" data-bs-toggle="modal"data-bs-target="#avatar-edit-model"
                    class="position-absolute bg-white border border-primary rounded d-flex justify-content-center align-items-lg-center rounded-circle" 
                    style="bottom: 10%;left: 35%; width: 30px;height: 30px;">
            <i class="fa fa-pencil-square-o"></i>    
        
            </a>
        </div>

        <!-- Avatar Info -->
        <div class="text-center">
            <a class="text-prof fs-5 fw-bold" href="/portofront">Hadeel Jameel</a>
            <p>Full Stack Developer</p>
        </div>

        <!-- dashboard nav -->
        <nav class="card px-3 py-4 mt-3 d-flex gap-3">

            <!-- Home -->
            <a href="/home" id=""
               class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-home pe-2"></i>
                <span class="fs-6 fw-bold">About Me</span>
            </a>
            <!-- user -->
            <a href="/user" id=""
               class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-user pe-2"></i>
                <span class="fs-6 fw-bold">Personal Info</span>
            </a>

            <!-- skills -->
            <a href="/skills" id=""
                class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-bar-chart-o pe-2"></i>
                <span class="fs-6 fw-bold">Skills</span>
            </a>

            <!-- Qualifications -->
            <a href="/Education" id="Education"
                class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-about pe-2"></i>
                <span class="fs-6 fw-bold">Education</span>
            </a>

            <!-- experience -->
            <a href="/Experience" id="experience"
                class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-object-group pe-2"></i>
                <span class="fs-6 fw-bold">Experience</span>
            </a>
             
            <!-- Services -->
            <a href="/services" id="Service"
                class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-list pe-2"></i>
                <span class="fs-6 fw-bold">Services</span>
            </a>

            <!-- Pre-Works -->
            <a href="/projects" id="works"
                class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-briefcase pe-2"></i>
                <span class="fs-6 fw-bold">LastProjects</span>
            </a>

            <!-- Social -->
            <a href="/media" id="Sociall"
                class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2">
                <i class="fa fa-google-plus-official pe-2"></i>
                <span class="fs-6 fw-bold">SocialMedia</span>
            </a>

        </nav>
    </div>
</div>

  <!-- Edit user avatar image model -->
    <div class="modal fade" id="avatar-edit-model" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
          <!-- model header -->
          <div class="modal-headerd-flex justify-content-between align-items-center">
            <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">
              Edit image profaile
            </h4>

            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <!-- model body -->
          <div class="modal-body">
            <form class="g-3">
              <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" />
              </div>
            </form>
          </div>

          <!-- model footer -->
          <div class="modal-footer">
            <button type="button" class="btn bg-primary text-white">
              update
            </button>
          </div>
        </div>
      </div>
    </div>