 <section class="service section" id="services">
      <div class="container">
        <div class="row">
          <div class="section-title padd-15">
            <h2>Services</h2>
          </div>
        </div>
        <div class="row">
        <%if(Service.length){ %>
        <% for(let item3 =0; item3< Service.length; item3++){ %>
                     
          <!--   Service item Start  = -->
          <div class="service-item padd-15">
            <div class="service-item-inner">
              <div class="icon">
                <i class=" <%= Service[item3].service_icon %>"></i>
              </div>
              <h4><%= Service[item3].service_name %></h4>
            </div>
          </div>
          <!--   Service item End  = -->
            <%}%> 
                <%  } else{ %>
                 <h5 class="p-3 px-4"> There is no Service added yet ! </h5>
                <%}%> 
            </div>
         
        </div>
      </div>
    </section>